[FORMAT]

good-names=i,j,k,_,n,x,y,tr,T

[MESSAGES CONTROL]

disable=
  superfluous-parens,
  missing-module-docstring,
  missing-class-docstring,
  missing-function-docstring,
  unsupported-assignment-operation,
  too-few-public-methods,
  protected-access,
  no-self-use
